// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site.
// -----------------------------------------------------------------------------

@use "../01_abstracts/index" as *;

// Main Header
body header#main-header {
  top: 0;
  left: 0;
  width: 100%;
  transition: var(--se--transition);
  z-index: 99;

  .container {
    @include mq(lg) {
      padding: 0 1rem;
    }
  }

  .btn {
    height: 4rem;
    line-height: 4rem;
    max-width: 270px;

    @include mq(lg) {
      min-width: 240px;
      margin-left: 1rem;
    }
  }

  #menu-btn-mobile {
    margin-left: auto;
    margin-right: auto;
  }

  nav#main-navigation {
    ul#main-nav {
      width: 100%;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: flex-end;

      > li.menu-item {
        position: relative;
        list-style-type: none;
        display: flex;
        height: var(--se--header-height);
        transition: var(--se--transition);

        a {
          width: 100%;
          padding: 0 1rem;
          display: flex;
          align-items: center;
          text-align: center;
          background-color: transparent;
          color: var(--wp--preset--color--light-b);
          transition: var(--se--transition);
          user-select: none;
          white-space: nowrap;
          font-family: var(--wp--preset--font-family--heading-font);
          text-transform: uppercase;
          font-size: 30px;
          line-height: 36px;

          &:hover {
            color: var(--wp--preset--color--secondary-b);
          }
        }

        &.current-menu-item,
        &.current-menu-ancestor {
          > a {
            color: var(--wp--preset--color--secondary-b);
          }
        }

        // Submenu
        ul.sub-menu {
          padding: 0;
          margin: 0;
          position: absolute;
          top: 120%;
          transition: var(--se--transition);
          opacity: 0;
          visibility: hidden;

          li.menu-item {
            list-style-type: none;
          }
        }

        // Top level menu item hover
        &:hover {
          ul.sub-menu {
            top: 100%;
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }

  #main-navigation-mobile {
    position: fixed;
    top: -100%;
    right: 0;
    width: 100vw;
    margin-top: var(--se--header-height);
    height: calc(100% - var(--se--header-height));
    background-color: var(--wp--preset--color--primary-d-2);
    z-index: -2;

    ul#main-nav-mobile {
      width: 100%;
      padding: 20% 0 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-weight: var(--wp--custom--font-weight--normal);

      @media screen and (max-height: 700px) {
        padding: 5% 0 0;
      }

      > li.menu-item {
        position: relative;
        list-style-type: none;
        display: flex;
        transition: var(--se--transition);
        margin-bottom: 3rem;

        a {
          width: 100%;
          background-color: transparent;
          color: var(--wp--preset--color--light-b);
          transition: var(--se--transition);
          white-space: nowrap;
          -webkit-tap-highlight-color: transparent;
          font-family: var(--wp--preset--font-family--heading-font);
          text-transform: uppercase;
          font-size: 30px;

          &:hover {
            color: var(--wp--preset--color--secondary-b);
          }
        }

        &.current-menu-item,
        &.current-menu-ancestor {
          > a {
            color: var(--wp--preset--color--secondary-b);
          }
        }

        // Top level menu item hover
        &:hover {
          ul.sub-menu {
            top: 100%;
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }

    #hand {
      position: absolute;
      bottom: 0%;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  // Mobile menu toggle
  #menu-toggle-mobile {
    #toggle-mobile {
      transition: var(--trans);
      width: 24px;

      .inner {
        transition: var(--trans);
        width: 100%;

        span {
          display: block;
          width: 100%;
          border-radius: 3px;
          height: 2px;
          background: var(--wp--preset--color--light-b);
          transition: all 0.3s;
          position: relative;
        }

        span + span {
          margin-top: 6px;
        }
      }

      &.not-active {
        span {
          &#line_1 {
            animation: ease 0.7s top-2 forwards;
          }

          &#line_2 {
            animation: ease 0.7s scaled-2 forwards;
          }

          &#line_3 {
            animation: ease 0.7s bottom-2 forwards;
          }
        }
      }

      &.active {
        span {
          &#line_1 {
            animation: ease 0.7s top-1 forwards;
          }

          &#line_2 {
            animation: ease 0.7s scaled-1 forwards;
          }

          &#line_3 {
            animation: ease 0.7s bottom-1 forwards;
          }
        }

        span + span {
          margin-top: 4px;
        }
      }
    }

    #menu-toggle-mobile {
      width: 100%;
    }
  }

  // Sticky menu
  // &.sticky {
  //   box-shadow: var(--se--box-shadow);

  //   // Change Header Height
  //   --se--header-height: 4rem;
  // }
}
