// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

@use "../01_abstracts/index" as *;

section#frontpage-banner {
  #site-title {
    max-width: 15ch;
    margin-left: auto;
    margin-right: auto;
  }
}

body .page-background {
  position: fixed;
  width: 100vw;
  height: 100vh;

  .image-figure {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

body .swiper-container {
  --swiper-pagination-bullet-inactive-color: var(
    --wp--preset--color--secondary-b
  );

  --swiper-pagination-bullet-inactive-opacity: 0.5;

  --swiper-pagination-color: var(--wp--preset--color--secondary-b);

  .swiper-pagination-horizontal {
    bottom: -30px;
  }
}
