// -----------------------------------------------------------------------------
// GSAP Animation utility classes
// -----------------------------------------------------------------------------

body:not(.block-editor-writing-flow) {
  [data-animation="fade-in"] {
    opacity: 0;
  }

  [data-animation="fade-up"],
  [data-animation="stagger-in"] {
    opacity: 0;
    transform: translateY(80px);
  }

  [data-animation="zoom"] {
    opacity: 0;
    transform: scale(1.15);
  }
}
