// -----------------------------------------------------------------------------
// This file contains all site-wide SCSS variables.
// -----------------------------------------------------------------------------

// @use '../01_abstracts/mixins' as *;

// Global site breakpoints
$breakpoints: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1536px,
  qhd: 2000px,
);
